# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Flutter / Dart
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.idea/
*.iml
/android/.gradle/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace/xcuserdata/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local app data
/.data/

# ML Models
datasets/
_rf_tmp/
runs/
*.pt
